.content_container {
    display: flex;
    flex-direction: column;
}

.dropdown_container {
    display: flex;
    flex-direction: row;
}

.dropdown_input_container {
    flex: 1;
    border-color: white;
    border-style: solid;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem
}

.error_container {
    background-color: #d0342C;
    text-align: center;
}

.result_container {
    background-color: #497a29;
}